:root {
    --bs-dropdown-link-active-bg: #0d6efd;
}

.dropdown-item:hover {
    background-color: var(--bs-dropdown-link-active-bg);
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.float-right {
    float: right
}

.list-buttons {
    margin-left: 100%;
    transform: translateX(-100%) !important;
}

img {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    display: inline;
    border-radius: 50%;
}

