<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary" style="z-index: 1999;">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating
            app</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="(accountService.currentUser$ | async)">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                </li>
            </ng-container>
            <li class="nav-item">
                <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
            </li>
        </ul>
        <div class="btn-group align-items-center" dropdown *ngIf="(accountService.currentUser$ | async) as user">
            <img src="{{user.photoUrl}}" alt="{{user.username}}">
            <span class="dropdown-toggle text-light ms-2 cursor-pointer" dropdownToggle>{{user.username}}</span>
            <div class="dropdown-menu list-buttons" *dropdownMenu>
                <a href="#" class="dropdown-item" routerLink="/member/edit">Edit profile</a>
                <a href="#" class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        <form class="d-flex" *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username" required>
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password" required>
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</nav>