<ul class="d-lg-none d-md-none position-fixed w-100 bg-primary"
    [class.show]="onSideBar" 
    [class.hide]="!onSideBar">
    <ng-container *ngIf="(accountService.currentUser$ | async)">
        <li class="nav-item container">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item container">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item container">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
        <li class="nav-item container" *appHasRole="['Admin', 'Moderator']">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
    </ng-container>
    <li class="nav-item container">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
    </li>
    <ng-container *ngIf="(accountService.currentUser$ | async) as user">
        <li class="nav-item container">
            <a href="#" class="dropdown-item" routerLink="/member/edit">Edit profile</a>
        </li>
        <li class="nav-item container">
            <a href="#" class="dropdown-item" (click)="logoutAccount()">Logout</a>
        </li>
    </ng-container>
</ul>